.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.skill-card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.skill {
  margin: 8px 0;
}
.skill-card:hover {
    background: darkblue; 
    color: white; /* Change text color on hover */
}
/* Tablet */
@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 500px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}
