.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 60px 0 30px;
  font-size: 26px;
  font-weight: 600;
  color: #1f3c88;
}

.section-title::before,
.section-title::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #d1d5db;
}

.section-title span {
  white-space: nowrap;
}

@media (max-width: 600px) {
  .section-title {
    font-size: 22px;
  }
}
@media(max-width: 480) {
    .section-title {
        font-size: 18px;
    }
}